* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.HeroContainer{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 5%;
  margin-left: 5%;
}

@media screen and (max-width: 400px) {
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four{
    width: 800px; 
    display:block;
    margin:auto;
  }
  .slider-text p{
    margin-right: 2%;
    margin-left: 2%;
    font-size: 0rem;
  }
  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p,
  .slider-three .slider-one-image .slider-text p,
  .slider-three .slider-two-image .slider-text p,
  .slider-three .slider-three-image .slider-text p,
  .slider-three .slider-four-image .slider-text p,
  .slider-four .slider-one-image .slider-text p,
  .slider-four .slider-two-image .slider-text p,
  .slider-four .slider-three-image .slider-text p,
  .slider-four .slider-four-image .slider-text p{
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four{
    width: 800px; 
    display:block;
    margin:auto;
  }
  .slider-text p{
    margin-right: 6%;
    margin-left: 6%;
  }
  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p,
  .slider-three .slider-one-image .slider-text p,
  .slider-three .slider-two-image .slider-text p,
  .slider-three .slider-three-image .slider-text p,
  .slider-three .slider-four-image .slider-text p,
  .slider-four .slider-one-image .slider-text p,
  .slider-four .slider-two-image .slider-text p,
  .slider-four .slider-three-image .slider-text p,
  .slider-four .slider-four-image .slider-text p{
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four{
    width: 100%; 
    display:block;
    margin:auto;
  }
  .slider-text p{
    margin-right: 15%;
    margin-left: 15%;
  }
  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p,
  .slider-three .slider-one-image .slider-text p,
  .slider-three .slider-two-image .slider-text p,
  .slider-three .slider-three-image .slider-text p,
  .slider-three .slider-four-image .slider-text p,
  .slider-four .slider-one-image .slider-text p,
  .slider-four .slider-two-image .slider-text p,
  .slider-four .slider-three-image .slider-text p,
  .slider-four .slider-four-image .slider-text p{
    font-size: 28px;
    line-height: 28px;
  }
  
}  

@media screen and (min-width: 1001px) {
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four{
    width: 100%; 
    display:block;
    margin:auto;
    top: 50%;
    left: 0px;
  }
  
  .slider-text p{
    margin-right: 25%;
    margin-left: 25%;
  }

  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p,
  .slider-three .slider-one-image .slider-text p,
  .slider-three .slider-two-image .slider-text p,
  .slider-three .slider-three-image .slider-text p,
  .slider-three .slider-four-image .slider-text p,
  .slider-four .slider-one-image .slider-text p,
  .slider-four .slider-two-image .slider-text p,
  .slider-four .slider-three-image .slider-text p,
  .slider-four .slider-four-image .slider-text p{
    font-size: 30px;
    line-height: 28px;
  }
}

.slider-one,
.slider-two,
.slider-three,
.slider-four{
  -webkit-animation: slider-one 20s linear infinite;
          animation: slider-one 20s linear infinite;
}


.carousel .slide{
  background: #fff;    
}

.carousel .control-dots{
  margin: 60px auto;
}

.carousel li.slide img{
  height: 75vh ;
}


.slider-one .slider-one-image,
.slider-one .slider-two-image,
.slider-one .slider-three-image,
.slider-one .slider-four-image,
.slider-two .slider-one-image,
.slider-two .slider-two-image,
.slider-two .slider-three-image,
.slider-two .slider-four-image,
.slider-three .slider-one-image,
.slider-three .slider-two-image,
.slider-three .slider-three-image,
.slider-three .slider-four-image,
.slider-four .slider-one-image,
.slider-four .slider-two-image,
.slider-four .slider-three-image,
.slider-four .slider-four-image{
  width: 110%;
  height: 90%;
  background-image: url("../Images/image5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: zoom-out 20s linear infinite;
          animation: zoom-out 20s linear infinite;
}


.slider-one .slider-one-image .slider-text,
.slider-one .slider-two-image .slider-text,
.slider-one .slider-three-image .slider-text,
.slider-one .slider-four-image .slider-text,
.slider-two .slider-one-image .slider-text,
.slider-two .slider-two-image .slider-text,
.slider-two .slider-three-image .slider-text,
.slider-two .slider-four-image .slider-text,
.slider-three .slider-one-image .slider-text,
.slider-three .slider-two-image .slider-text,
.slider-three .slider-three-image .slider-text,
.slider-three .slider-four-image .slider-text,
.slider-four .slider-one-image .slider-text,
.slider-four .slider-two-image .slider-text,
.slider-four .slider-three-image .slider-text,
.slider-four .slider-four-image .slider-text{
  position: absolute;
  top: 25%;
  left: 0px;
  color: #ffffff;
  width: 100%;
  -webkit-animation: text-up 20s linear infinite;
          animation: text-up 20s linear infinite;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation-delay: 0s;    
          animation-delay: 0s;
}

.slider-one .slider-one-image .slider-text h1,
.slider-one .slider-two-image .slider-text h1,
.slider-one .slider-three-image .slider-text h1,
.slider-one .slider-four-image .slider-text h1,
.slider-two .slider-one-image .slider-text h1,
.slider-two .slider-two-image .slider-text h1,
.slider-two .slider-three-image .slider-text h1,
.slider-two .slider-four-image .slider-text h1,
.slider-three .slider-one-image .slider-text h1,
.slider-three .slider-two-image .slider-text h1,
.slider-three .slider-three-image .slider-text h1,
.slider-three .slider-four-image .slider-text h1,
.slider-four .slider-one-image .slider-text h1,
.slider-four .slider-two-image .slider-text h1,
.slider-four .slider-three-image .slider-text h1,
.slider-four .slider-four-image .slider-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}



.slider-two {
  -webkit-animation: slider-two 20s linear infinite;
          animation: slider-two 20s linear infinite;
}

.slider-two .slider-two-image {
  background-image: url("../Images/image6.jpg");
}

.slider-two .slider-two-image .slider-text {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slider-three {
  -webkit-animation: slider-three 20s linear infinite;
          animation: slider-three 20s linear infinite;
}

.slider-three .slider-three-image {
  background-image: url("../Images/image7.jpg");
}

.slider-three .slider-three-image .slider-text {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slider-four {
  -webkit-animation: slider-four 20s linear infinite;
          animation: slider-four 20s linear infinite;
}

.slider-four .slider-four-image {
  background-image: url("../Images/image9.jpg");
}

.slider-four .slider-four-image .slider-text {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}




@-webkit-keyframes text-up {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes text-up {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes zoom-out {
  0% {
    width: 100%;
  }
}

@keyframes zoom-out {
  0% {
    width: 100%;
  }
}

@-webkit-keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-two {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slider-two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-three {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slider-three {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-four {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-four {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}


